body {
  font-family: 'Nunito', sans-serif;
}

.BotonesLeft {
  margin-left: 5%;
  text-align: left;
}

/* Seccion de secciones  */
.colored-section {
  color: #fff;
}

/* Seccion de Headings */
.bigheading {
  font-family: 'Cardo', serif;
  font-size: 8rem;
  font-weight: 900;
  line-height: 1.5;
}

.HeadingGrande {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 7rem;
  margin-bottom: 4%;
}

.MasiveHeading {
  font-size: 15rem;
}

.MedioHeading {
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.5;
}

/* Seccion portada */
#portada {
  background-color: #296791;
  padding: 4% 15% 7%;
  text-align: left;
}

.LeftColumn {
  margin-bottom: 6%;
}

.PortadaImage {
  box-shadow: 0 7px 7px 0 #000;
  width: 97%;
}

/* Seccion Recomendaciones */
/* Estilo de la seccion completa */
#Recomendaciones {
  padding: 7% 15%;
  text-align: left;
}

.boton {
  margin: 5% 3% 5% 0;
}

.RecomendacionesElementos {
  margin-right: 3%;
}

/* .RecomendacionesImage {
  margin-bottom: 4%;
} */
/* Seccion Concepto */
#Concepto {
  background-color: #49B0F4;
  padding: 7% 15%;
  text-align: center;
}

#Concepto h3{
  text-align: left;
  margin-left: 15%;
}


.ConceptoHeading {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.5;
}

.ConceptoImage {
  box-shadow: 5px 5px #000;
  width: 20%;
}

.ConceptoMargin{
margin: 5% 30%;
text-align: left;
}
/* Seccion Diferencias */
/* Estilo de la seccion completa */
#Diferencias {
  padding: 7% 15%;
  text-align: center;
}

.diferenciaBox {
  padding: 5%;
}

.DiferenciaRow {
  margin-bottom: 3%;
}

/* Estilo de los logos sobre las diferencias */
.logos {
  color: #DEAE6A;
  padding: 5% 25%;
}

/* Seccion Qubit */
#Qubit {
  padding: 7% 15%;
  text-align: center;
  background-color: #49B0F4;
}

.QubitCirculo{
  margin: 5% 0 5% 0;
}

.QubitImage{
margin-top: 2%;
width: 100%;
}

.QubitItem {
  margin: 3% 25% 3% 5%;
}

.QubitItem h3{
color: #296791;
font-weight: 600;

}

.QubitLeft{
  background-color: #000;
}

.QubitParrafo{
margin: 0 15%;
margin-bottom: 15%;
}

.QubitRight {
  background-color: #fff;
  padding: 5%;
  text-align: left;
}

.QuantumRow{
    box-shadow: 3px 3px 3px 3px #000;
}
/* Seccion CompuCuantica */
#CompuCuantica {
  padding: 7% 15%;
  text-align: center;
}

.QuantumFix {
  margin-bottom: 12.6%;
}

.QuantumHeading {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 6rem;
  font-weight: 600;
}

.QuantumImage {
  box-shadow: 0 7px 7px 0 #000;
  width: 80%;
}

.QuantumLeft {
  text-align: left;
}

.QuantumPrice {
  color: green;
}

/* Seccion Gracias */
#Gracias {
  background-color: #296791;
  padding: 7% 15%;
  text-align: left;
}

#Gracias .HeadingGrande {
  margin-bottom: 13%;
}

.ContactImage {
  box-shadow: 0 7px 7px 0 #000;
  height: 90%;
  width: 102%;
}

.GraciasFix {
  margin-bottom: 7%;
}

#footer {
  padding: 4% 15%;
  text-align: center;
}

.footer-logo {
  padding: 0 1rem;
}
